<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Team Info</title>
  </head>
  <body>
    <h1><%=@team.name %></h1>

    <h2>Team Motto: <%=@team.motto %></h2>

    <h1>Hero Name: <%=@hero_1.name %></h1>
    Hero Power: <%=@hero_1.power %>
    Hero Biography: <%=@hero_1.bio %>

    <h1>Hero Name: <%=@hero_2.name %></h1>
    Hero Power: <%=@hero_2.power %>
    Hero Biography: <%=@hero_2.bio %>

    <h1>Hero Name: <%=@hero_3.name %></h1>
    Hero Power: <%=@hero_3.power %>
    Hero Biography: <%=@hero_3.bio %>




  </body>
</html>
